<h3>Вы зарегистрировались!</h3>

Добрый день, {{ name }}! Вы успешно зарегистрировались на портале ius24.ru.
<br>
Чтобы выполнить вход, перейдите по: <a href="http://ius24.ru/login">http://ius24.ru/login</a>
<br>
Имя пользователя: <b>{{ name }}</b>
<br> 
Пароль: <b>{{ password }}</b>
<br>
<br>
Панель администрирования: <a href="http://ius24.ru/admin">http://ius24.ru/admin</a>